.card-container {
    display: flex;
    flex-wrap: wrap; 
  }
  
  .card-info-container{
    display: flex;
    flex-direction: column;
  }
   
  .card-image {
    width: 320px;
  }
  .card-title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    margin: 5px;
  }
  .card-details {
    font-family: Roboto;
    font-size: 18px;
    margin: 10px;
  }
  .card-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .card-button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgb(44 187 99 / 20%) 0 -25px 18px -14px inset, rgb(44 187 99 / 15%) 0 1px 2px, rgb(44 187 99 / 15%) 0 2px 4px, rgb(44 187 99 / 15%) 0 4px 8px, rgb(44 187 99 / 15%) 0 8px 16px, rgb(44 187 99 / 15%) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .card-button:hover {
    box-shadow: rgb(44 187 99 / 35%) 0 -25px 18px -14px inset, rgb(44 187 99 / 25%) 0 1px 2px, rgb(44 187 99 / 25%) 0 2px 4px, rgb(44 187 99 / 25%) 0 4px 8px, rgb(44 187 99 / 25%) 0 8px 16px, rgb(44 187 99 / 25%) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  .card-button-container{
    display: flex;
    justify-content: space-between;
  }
  .card-profile {
    height: 70px;
    width: 70px;
    float: "right";
    clear: "both";
    margin: 10px;
  }
  
  .button {
    border-radius: 5px;
    background-color: rgb(231, 204, 149);
  }
  
  /* ----------------------- */
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 15px;
    margin: 20px;
    width: 315px;
    transition: all 0.3s ease-out;
    background-color: white
  }
  
  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
  
  .card p {
    color: #a3a5ae;
    font-size: 16px;
  }
  
  .image {
    float: right;
    max-width: 64px;
    max-height: 64px;
  }
  
  .blue {
    border-left: 3px solid #4895ff;
  }
  
  .green {
    border-left: 3px solid #3bb54a;
  }
  
  .red {
    border-left: 3px solid #b3404a;
  }