ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-family: sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
  }
  
 






.title{
  font-size: 25px;
  color: white;
  margin-left: 550%;
  width: 150%;
  margin-top: -5%;
  text-align: center;
  
}