/* .article-header {
    background-color: rgb(109, 11, 2019, 218);
    color: white;
    border: 3px solid transparent;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-family: sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
  }
  
  /* li a:hover {
    background-color: rgb(64, 228, 94);
  } */

 .section-content {
    
    
} 

input[type=button] {
  
  /* margin-top: 10px; */
  /* margin-left: 25px; */
}


.main{
    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px);
     */
    /* Full height */
    /* height: 100%;  */
    
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.title{
  font-size: 25px;
  color: white;
  margin-left: 550%;
  width: 150%;
  margin-top: -5%;
  text-align: center;
  
}