.navbar {
  display: flex;
  background-color: rgb(214 195 145);
  padding: 15px;
  text-align: center;
  border: 2px solid rgb(200, 200, 212);
  color: white;
  text-decoration: none;
  justify-content: left;
  position: sticky;
  top: 0;
  margin: auto;
  z-index: 55;

}
  .dashboard-title{
    font-weight: 700;
    font-size: x-large;
    color: black;
  }
  .link{
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-left:30px;
}
/* .navbar-dashboard-title{
  margin-right: 1260px;
} */

.navbar .active {
  color: red;
}